@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");
:root {
  --primary-color: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 0%,
    rgba(143, 34, 34, 1) 84%
  );
  --navHeight: 5em;
  --secondary-color: #ffa801;
  --normal-padding: 8em 4em 8em 4em;
}

*,
before,
after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background: transparent;
  height: 100%;
  /* overflow: hidden; */
  background: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 0%,
    rgba(143, 34, 34, 1) 84%
  );
}

.container {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 0%,
    rgba(143, 34, 34, 1) 84%
  );
}

.hero-content {
  padding: var(--normal-padding);
  display: grid;
  column-gap: 3em;
  row-gap: 5em;
  grid-template-rows: 200px 200px 100px;
  grid-template-areas:
    "title pic pic"
    "quote pic pic"
    "missionbtn pic pic";
  height: 100%;
  width: 100%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  height: 10%;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
  z-index: 99;
  background: #ffffff;
}

.menu-logo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.menu-items {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 2.5em;
}

.menu-items li {
  cursor: pointer;
  font-size: 1.2em;
}

.menu-logo img {
  width: 100px;
}

.menu-logo span {
  display: flex;
  align-items: center;
}

#menu-logo-image {
  cursor: pointer;
}

.title {
  grid-area: title;
  font-size: 2.7em;
  letter-spacing: 0.02em;
  color: #fff;
}

.pic {
  grid-area: pic;
  grid-column-start: 3;
  flex: 1 0;
  grid-row: 1/3;
}

.pic img {
  float: right;
  width: 536px;
  height: 546px;
}

.map {
  width: 406px;
  width: 440px;
}

.mission-button {
  grid-area: missionbtn;
}

.mission-button button {
  width: 10em;
  height: 2.6em;
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.quote {
  grid-area: quote;
  width: 20em;
  color: #fff;
  line-height: 2em;
  font-size: 1.6em;
  font-weight: 100;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-image {
  animation: fadeIn 2s;
}

/* Large screens */
@media only screen and (min-width: 1920px) {
  .pic img {
    width: 760px;
    height: 760px;
    padding-right: 1.5em;
    margin-left: -8em;
  }

  .menu-items li {
    font-size: 1.4em;
  }

  .menu-logo {
    font-size: 1.4em;
  }

  .menu-logo img {
    width: 100px;
  }

  .title img {
    width: 450px;
  }
  .quote {
    font-size: 2rem;
  }
  .hero-content {
    /* row-gap: 10px; */
    padding-left: 6em;
    row-gap: 8em;
  }

  .navbar {
    padding-left: 6em;
    padding-right: 6em;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-content {
    height: 90%;
    padding-left: 1.5em;
    padding-top: 4.8em;
    row-gap: 2.1em;
    column-gap: 3em;
  }
  .container {
    padding-top: 1em;
  }
  .pic img {
    width: 480px;
    height: 480px;
    margin-left: -7em;

    float: left;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  .container {
    text-align: center;
    padding-top: 3em;
  }
  .menu-items li {
    display: none;
  }

  .menu-logo img {
    width: 60px;
  }

  .pic {
    grid-column-start: 1;
    flex: 1 0;
    grid-row: 1/1;
  }
  .pic > img {
    width: 200px;
    float: none;
  }
  .hero-content {
    padding: 0;
    margin: 0;
    /* padding-top: 1em; */
    /* padding-bottom: 3em; */
    row-gap: 1.5em;
    /* grid-template-rows: 100px 100px auto; */
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "quote"
      "missionbtn";
    height: 80vh;
  }
  .navbar {
    padding-left: 10px;
  }
  .navbar > span {
    font-size: 1em;
  }
  .title {
    font-size: 2em;
    justify-content: center;
  }
  .quote {
    font-size: 1.2em;
  }

  .mission-button button {
    color: #ffffff;
  }
}
