@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --navHeight: 5em;
  --secondary-color: #ffa801;
  --normal-padding: 8em 4em 8em 4em;
  --title-img-size: 220px;
  --nav-height: 10vh;
  --bg-radial: radial-gradient(
    46.73% 38.94% at 50.07% 50.07%,
    #633e69 0%,
    #050304 82.55%
  );
}

*,
before,
after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
body {
  font-family: "Roboto Slab", serif;
  /* background-color: rgb(109, 42, 42);
  background: linear-gradient(
    45deg,
    hsla(0, 59%, 12%, 0.968) 40%,
    rgba(143, 34, 34, 1) 84%
  ); */
}

/* .container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
} */

/* Hero wrapper */
.hero {
  display: flex;
  flex-direction: column;
}

/* nav bar styles */

.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;

  height: var(--nav-height);
  left: 0px;
  top: 0px;
  z-index: 99;
  background: #ffffff;
  border-bottom: 1px solid #000000;
}

.nav-menu-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5em;
  width: 100vw;
}

.menu-logo > span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Poppins, "sans-serif";
}

ul.menu-items {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
}

.menu-items li {
  cursor: pointer;
}

/* top section of Hero section */

.hero-top {
  display: flex;
  position: relative;
  height: 50vh;
  width: 100%;
  margin-top: var(--nav-height);
  background: var(--bg-radial);
}

.hero-top-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50vw;
  height: 100%;
}

.hero-top-right {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50vw;
  background-image: url("http://localhost/img/hero-bermuda-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30rem;
}

.hero-title-top {
  display: flex;
  font-family: "Reboto Slab", sans-serif;
  font-size: 6rem;
  color: white;
  align-items: center;
  text-align: center;
  /* width: 50%; */
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25rem;
}

/* bottom section of Hero section */
.hero-bottom {
  display: flex;
  height: 50vh;
  width: 100%;
}

.hero-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-color: #4c3050;
}

.hero-bottom-left p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 178%;
  padding: 0 36px;
}

.hero-bottom-right {
  justify-content: center;
  align-items: flex-end;
  width: 50vw;
  height: 100%;
  background-color: white;
}

/* .hero-content {
  display: grid;
  padding-top: calc(var(--nav-height) + 30px);
  justify-items: center;
  scroll-snap-align: start;

  -webkit-scroll-snap-align: start;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "title"
    "quote"
    "missionbtn";
  width: 100vw;
  height: 100vh;
} */
