@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");
:root {
  --primary-color: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 0%,
    rgba(143, 34, 34, 1) 84%
  );
  --navHeight: 5em;
  --secondary-color: #ffa801;
  --normal-padding: 8em 4em 8em 4em;
}

*,
before,
after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Slab", serif;
  background-color: rgb(109, 42, 42);
  background: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 40%,
    rgba(143, 34, 34, 1) 84%
  );
}

.container {
  padding: 0 60px;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.hero-content {
  display: grid;
  column-gap: 1em;
  row-gap: 5em;
  padding-top: 120px;
  align-items: top;
  scroll-snap-align: start;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title pic pic"
    "quote pic pic"
    "missionbtn pic pic";

  width: 100%;
  height: 100vh;
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  height: 70px;
  justify-content: space-between;
  top: 0;
  width: 100%;

  z-index: 99;
  background: #ffffff;
}

.menu-logo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.menu-items {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 2.5em;
}

.menu-items li {
  cursor: pointer;
  font-size: 1.2em;
}

.menu-logo img {
  width: 100px;
}

.menu-logo span {
  display: flex;
  align-items: center;
}

#menu-logo-image {
  cursor: pointer;
}

.title {
  grid-area: title;
  font-size: 2.7em;
  letter-spacing: 0.02em;
  color: #fff;
}

.pic {
  grid-area: pic;
  grid-column-start: 3;
  flex: 1 0;
  grid-row: 1/3;
}

.pic img {
  float: right;
  width: 536px;
  height: 546px;
}

.map {
  width: 406px;
  width: 440px;
}

.mission-button {
  grid-area: missionbtn;
  grid-column: 1/4;
  justify-self: center;
}

.quote {
  grid-area: quote;

  color: #fff;
  line-height: 2em;
  font-size: 1.6em;
  font-weight: 100;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-image {
  animation: fadeIn 2s;
}

/* Large screens */
@media only screen and (min-width: 1920px) {
  /* .container {
    padding: 0 120px;
  } */

  .pic img {
    width: 760px;
    height: 760px;
    padding-right: 1.5em;
    margin-left: -8em;
  }
}

.bg-w {
  background: white;
}

.fa-chevron-down {
  font-size: 4em;
  color: #fff;

  cursor: pointer;
}
/* Tablets */
@media only screen and (min-width: 768px) {
  .pic img {
    width: 400px;
    height: 400px;
    padding-right: 1.5em;
    margin-left: -8em;
  }
  .hero-content {
    grid-template-areas:
      "title pic"
      "quote"
      "missionbtn";
  }
  .quote {
    grid-column-end: 4;
  }
  .missionbtn {
    grid-column-end: 4;
  }
}
