@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");

:root {
  --body-text-cl: #333;

  --nav-text-cl: #333;
  --nav-bg-cl: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Slab";
  color: var(--body-text-cl);
  line-height: 1.6;
  overflow: auto;

  background: linear-gradient(
    45deg,
    rgba(50, 13, 13, 0.9682466736694678) 0%,
    rgba(143, 34, 34, 1) 84%
  );
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--nav-text-cl);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

.navbar {
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 75px;
}

.navbar ul {
  display: flex;
  gap: 1em;
}

.navbar a {
  color: inherit;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}
.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.showcase {
  height: 100vh;
  padding-top: 100px;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  justify-items: center;
}

.showcase .heading {
  color: white;
  font-size: 2rem;
}
.showcase p {
  color: white;
  line-height: 2rem;
}

.showcase-pic {
  width: 500px;
  height: 500px;
}

.bdamap {
  width: 100px;
  height: 100px;
}

/* Media queries */

/* Mobile devices */
@media screen and (max-width: 375px) or ((max-width: 375px ) and (orientation=landscape)) {
  .showcase-pic {
    display: none;
  }
}

  .grid {
    grid-template-columns: 1fr;
  }
}
